@page
@model zoowebproject.Pages.PurchaseSuccessModel
@{
}


<h1>Purchase successfull</h1>
<h2>Redirecting to page</h2>



<script>
    setTimeout(function () {
        window.location.href = '/';
    }, 3000);
</script>