@page
@model zoowebproject.Pages.RegisterSuccessModel
@{
}

<h1>Register successfull</h1>
<h2>Redirecting to Login</h2>

<script>
    setTimeout(function () {
        window.location.href = '/Login';
    }, 3000);
</script>