@page
@model zoowebproject.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
}



<div class="animals-con">

        <div class="animals-grid">
            <div class="animals">
                <img src="Images/Zoo Bazaar Transparent.png" />
            </div>
            <div class="animals">
                <img src="Images/Zoo Bazaar Transparent.png" />
            </div>
            <div class="animals">
                <img src="Images/Zoo Bazaar Transparent.png" />
            </div>
            <div class="animals">
                <img src="Images/Zoo Bazaar Transparent.png" />
            </div>
        </div>

</div>